.feature{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  
}

.featureItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
}

.featureImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.featureTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 10px;
}

.feature1{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  padding-top: 50px;
 
}

.featureItem1{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
  
}

.featureImg1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.featureTitles1{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 10px;
}