.header {
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.headerListItem>span{
  color: black;
  text-decoration: none;
}




