.eventfullform {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
    margin-top: 50px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
  
 
}

.eventform{
    background-color: white;
    padding: 10px 80px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.eventform>h1{
    color: rgb(43, 43, 43);
    text-align: center;
    margin-bottom: 30px;
}

.eventbutton{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(96, 241, 91);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.eventform>select{
    background-color: white;
    padding: 10px 80px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:0px;
    width: 100%;
}

.eventform>textarea{
    background-color: white;
    padding: 10px 80px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:0px;
    
}

.eventform>label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
    color: rgb(48, 48, 48);

}